:root {
  --sl-color-accent-low: #0c4a6e;
  --sl-color-accent: #0EA5E9;
  --sl-color-accent-high: #BAE6FD;
}

:root[data-theme="light"] {
  --sl-color-accent-low: #BAE6FD;
  --sl-color-accent: #0EA5E9;
  --sl-color-accent-high: #0369A1;
}
